In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\rahul\Projects\CWC2023\CWC2023.csv")
df.head()

,Match ID,Match Date,Match Time,City,Stadium,Team A,Team B,Toss Winner,Toss Decision,Score A,...,No Balls B,Penalty B,Extras B,Wining Team,Margin,Man of the Match,Umpire 1,Umpire 2,TV Umpire,Match Refree
0,1,05-10-2023,2:00 PM,Ahmedabad,Narendra Modi Stadium,England,NewZealand,NewZealand,Field,282,...,0,0,6,NewZealand,9 Wickets,Rachin Ravindra,Kumar Dharmasena,Nitin Menon,Paul Wilson,Javagal Srinath
1,2,06-10-2023,2:00 PM,Hyderabad,Rajiv Gandhi International Stadium,Pakistan,Netherlands,Netherlands,Field,286,...,1,0,9,Pakistan,81 Runs,Saud Shakeel,Adrian Holdstock,Chris Brown,Rod Tucker,Jeff Crowe
2,3,07-10-2023,2:00 PM,Dharamshala,HPCA Stadium,Afghanistan,Bangladesh,Bangladesh,Field,156,...,0,0,8,Bangladesh,6 Wickets,Mehidy Hasan Miraz,Joel Wilson,Kumar Dharmasena,Ahsan Raza,Andy Pycroft
3,4,07-10-2023,2:00 PM,Delhi,Arun Jaitley Stadium,South Africa,Sri Lanka,Sri Lanka,Field,428,...,1,0,23,South Africa,102 Runs,Aiden Markram,Richard Illingworth,Sharfuddoula,Michael Gough,Javagal Srinath
4,5,08-10-2023,2:00 PM,Chennai,M. A. Chidambaram Stadium,Australia,India,Australia,Bat,199,...,0,0,12,India,6 wickets,KL Rahul,Chris Gaffaney,Richard Kettleborough,Chris Brown,Richie Richardson

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 44 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Match ID          48 non-null     int64
 1   Match Date        48 non-null     object
 2   Match Time        48 non-null     object
 3   City              48 non-null     object
 4   Stadium           48 non-null     object
 5   Team A            48 non-null     object
 6   Team B            48 non-null     object
 7   Toss Winner       48 non-null     object
 8   Toss Decision     48 non-null     object
 9   Score A           48 non-null     int64
 10  Wickets A         48 non-null     int64
 11  Overs Played A    48 non-null     float64
 12  Maiden Overs A    48 non-null     int64
 13  4s A              48 non-null     int64
 14  6s A              48 non-null     int64
 15  Boundaries A      48 non-null     int64
 16  Runrate A         48 non-null     float64
 17  Leg Byes A        48 non-null     int64
 18  Byes A            48 non-null     int64
 19  Wides A           48 non-null     int64
 20  No Balls A        48 non-null     int64
 21  Penalty A         48 non-null     int64
 22  Extras A          48 non-null     int64
 23  Score B           48 non-null     int64
 24  Wickets B         48 non-null     int64
 25  Overs Played B    48 non-null     float64
 26  Maiden Overs B    48 non-null     int64
 27  4s B              48 non-null     int64
 28  6s B              48 non-null     int64
 29  Boundaries B      48 non-null     int64
 30  Runrate B         48 non-null     object
 31  Leg Byes B        48 non-null     int64
 32  Byes B            48 non-null     int64
 33  Wides B           48 non-null     int64
 34  No Balls B        48 non-null     int64
 35  Penalty B         48 non-null     int64
 36  Extras B          48 non-null     int64
 37  Wining Team       48 non-null     object
 38  Margin            48 non-null     object
 39  Man of the Match  48 non-null     object
 40  Umpire 1          48 non-null     object
 41  Umpire 2          48 non-null     object
 42  TV Umpire         48 non-null     object
 43  Match Refree      48 non-null     object
dtypes: float64(3), int64(25), object(16)
memory usage: 16.6+ KB

In [5]:
df.describe()

,Match ID,Score A,Wickets A,Overs Played A,Maiden Overs A,4s A,6s A,Boundaries A,Runrate A,Leg Byes A,...,Maiden Overs B,4s B,6s B,Boundaries B,Leg Byes B,Byes B,Wides B,No Balls B,Penalty B,Extras B
count,48.00,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.00000,...,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000
mean,24.50,282.562500,8.104167,47.354167,1.687500,25.916667,7.833333,33.750000,5.947708,2.87500,...,1.375000,20.770833,5.583333,26.354167,2.437500,0.937500,9.166667,0.708333,0.104167,13.354167
std,14.00,76.709429,2.185441,5.048866,1.573129,8.068413,5.292843,11.699245,1.305108,2.97954,...,1.248403,6.811253,3.717889,9.156998,2.465992,1.521565,5.551819,1.030561,0.721688,6.984754
min,1.00,142.000000,3.000000,31.300000,0.000000,13.000000,0.000000,16.000000,3.350000,0.00000,...,0.000000,6.000000,0.000000,6.000000,0.000000,0.000000,1.000000,0.000000,0.000000,2.000000
25%,12.75,237.250000,7.000000,47.025000,0.750000,19.750000,3.000000,26.000000,4.875000,1.00000,...,0.750000,16.000000,3.000000,21.000000,1.000000,0.000000,5.000000,0.000000,0.000000,8.750000
50%,24.50,280.500000,9.000000,50.000000,1.000000,25.000000,7.000000,31.000000,5.750000,2.00000,...,1.000000,19.500000,5.500000,25.500000,2.000000,0.000000,8.000000,0.000000,0.000000,12.000000
75%,36.25,347.250000,10.000000,50.000000,2.250000,30.000000,10.000000,41.250000,6.945000,4.00000,...,2.000000,25.250000,8.000000,31.250000,3.000000,1.250000,11.000000,1.000000,0.000000,15.250000
max,48.00,428.000000,10.000000,50.000000,7.000000,46.000000,20.000000,59.000000,8.560000,13.00000,...,5.000000,35.000000,17.000000,48.000000,10.000000,5.000000,26.000000,4.000000,5.000000,33.000000

In [6]:
df.isnull().sum()

Match ID            0
Match Date          0
Match Time          0
City                0
Stadium             0
Team A              0
Team B              0
Toss Winner         0
Toss Decision       0
Score A             0
Wickets A           0
Overs Played A      0
Maiden Overs A      0
4s A                0
6s A                0
Boundaries A        0
Runrate A           0
Leg Byes A          0
Byes A              0
Wides A             0
No Balls A          0
Penalty A           0
Extras A            0
Score B             0
Wickets B           0
Overs Played B      0
Maiden Overs B      0
4s B                0
6s B                0
Boundaries B        0
Runrate B           0
Leg Byes B          0
Byes B              0
Wides B             0
No Balls B          0
Penalty B           0
Extras B            0
Wining Team         0
Margin              0
Man of the Match    0
Umpire 1            0
Umpire 2            0
TV Umpire           0
Match Refree        0
dtype: int64

In [7]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(" ","_")

In [8]:
df.columns

Index(['match_id', 'match_date', 'match_time', 'city', 'stadium', 'team_a',
       'team_b', 'toss_winner', 'toss_decision', 'score_a', 'wickets_a',
       'overs_played_a', 'maiden_overs_a', '4s_a', '6s_a', 'boundaries_a',
       'runrate_a', 'leg_byes_a', 'byes_a', 'wides_a', 'no_balls_a',
       'penalty_a', 'extras_a', 'score_b', 'wickets_b', 'overs_played_b',
       'maiden_overs_b', '4s_b', '6s_b', 'boundaries_b', 'runrate_b',
       'leg_byes_b', 'byes_b', 'wides_b', 'no_balls_b', 'penalty_b',
       'extras_b', 'wining_team', 'margin', 'man_of_the_match', 'umpire_1',
       'umpire_2', 'tv_umpire', 'match_refree'],
      dtype='object')